---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.png";
import branding from '@images/branding.png'
import fullstack from '@images/fullstack.png'
import digital from '@images/digital.png'
import marketing from '@images/marketing.png'

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  

  <HeroSection
    title=`IDEAS THAT PROVOKE YOUR <span
        class="text-yellow-500 dark:text-yellow-400">COMPETITION</span>`
    subTitle=`Crafting Brands, Designing Products, Building Apps—Your Full-Service Partner for Digital Success.`
    primaryBtn="Look what we do"
    primaryBtnURL="/services"
    secondaryBtn="Contact us"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of CodeStreetHive product boxes containing assorted hardware tools"
  />

  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

  <FeaturesGeneral
    title=`Achieving what matters most to <span class="text-yellow-500 dark:text-yellow-400">you</span>`
    subTitle="We offer innovative digital services but first and foremost, we believe that building a committed partnership with you first is vital in driving your business to fundamentally advance in this digital universe"
    src={featureImage}
    alt="Code Street Hive"
    features={features}
  />

  <FeaturesNavs
    title=`Specialized in <span class="text-yellow-500 dark:text-yellow-400">New and Next</span>.`
    tabs={[
      {
        heading: "Branding and Strategy",
        content:
          "Empower your projects with CodeStreetHive's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: branding,
        alt: "Branding and Strategy",
        first: true,
      },
      {
        heading: "Full Stack Development",
        content:
          "Minimize complexity, maximize productivity. CodeStreetHive's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "rocket1",
        src: fullstack,
        alt: "Full Stack Development",
      },
      {
        heading: "Digital Transformation",
        content:
          "Minimize complexity, maximize productivity. CodeStreetHive's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "sparks",
        src: digital,
        alt: "Digital Transformation",
      },
      {
        heading: "Digital Marketing",
        content:
          "Minimize complexity, maximize productivity. CodeStreetHive's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "community",
        src: marketing,
        alt: "Digital Marketing",
      }
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At CodeStreetHive, we ensure a swift start with the development aligning to your vision."
    ;
    testimonials={[
      {
        content:
          "CodeStreetHive dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in building an MVP!",
        author: "",
        role: "",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "30+",
        description:
          "customers transformed — from vision to reality",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with our services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quick to market using fail fast approach",
      },
    ]}
  />

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="Two quick questions - do you trust your instincts, and are as bold with your vision as we are? So what are you waiting for ???"
    url="/contact"
  />
</MainLayout>
